.search-results {
  margin: auto;
  width: 38%;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000;
  height: 1000px;
  padding: 1rem;
}

.search-results h1 {
  font-size: 2rem;
  font-weight: lighter;
  color: white;
}

/* .tracklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
