.app {
  height: 100%;
  background-image: url("../../../public/background_photo_desktop.jpg");
  background-size: cover;
  /* display: flex; */
}

.app-title {
  background-color: rgb(31, 0, 86);
  text-align: center;
  font-size: 2rem;
  padding: 0.7rem 0;
}

.highlight {
  color: rgb(120, 84, 182);
}

.app-playlists {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}

/* .app-playlist-item {
} */
